* {
    box-sizing: border-box;
}
body {
    background-color: #e9ecef;
    font-family: 'Poppins', sans-serif;
}

.auth-container {
    max-width: 700px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.auth-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.auth-container h2 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 2.5em;
    font-weight: bold;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.auth-container .input-container {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-container .input-container input {
    padding: 12px 80px 12px 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.auth-container .input-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.auth-container .input-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
}

.auth-container button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-container .toggle-button {
    margin-top: 15px;
    background-color: transparent;
    border: none;
    color: #28a745;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s;
}

.auth-container .toggle-button:hover {
    color: #218838;
}

.auth-container p {
    text-align: center;
    color: #dc3545;
    margin-top: 10px;
}

.auth-container .success-message {
    text-align: center;
    color: #28a745;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .auth-container {
        width: 90%;
        padding: 20px;
    }

    .auth-container h2 {
        font-size: 1.8em;
    }

    .auth-container .input-container input,
    .auth-container button {
        font-size: 14px;
    }
}